body {
  padding: 0;
  margin: 0;
  background: hsl(207, 57%, 67%);
}

/*============================
        FEATURED IMAGE
==============================*/

.featured_container {
  background: hsl(207, 57%, 67%);
}

.featured_container .featured_image {
  position: relative;
  background-size: cover !important;
  background-position: center left !important;
}

.featured_container .featured_action {
  position: absolute;
  top: 45%;
  left: 8%;
}

.featured_container .featured_action .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.featured_container .featured_action .tag.title {
  font-size: 70px;
  font-weight: 700;
}

.featured_container .featured_action .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
}

/*====================
        FOOTER
======================*/

footer {
  padding: 50px 0px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  background: hsl(207, 57%, 67%);
  width: 100%;
}

.footer-container {
  position: static;
  width: 100%;
}

footer .footer_copyright {
  font-size: 18px;
}

.spacer {
  width: 100%;
  height: 95px;
}

/*============================
        CONTACT
==============================*/

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.error-msg {
  color: #ee6352;
  padding: 10px 15px;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

/*====================
        LOCATION    
======================*/

.location_wrapper {
  position: relative;
}

.location_tag {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.location_tag div {
  background: #2c2c2c;
  color: #ffffff;
  text-transform: uppercase;
  width: 220px;
  margin: 0 auto;
  font-size: 29px;
  padding: 15px 20px;
  text-align: center;
}
